@font-face {
    font-family: 'Cherrybomb';
    src: url(/fonts/Cherrybomb.ttf);
}

* {
    font-family: 'UD デジタル 教科書体 NK-B';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

/***********ヘッダー*************/

header {
    height: 10vh;
    line-height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 0 10vw;
    position: fixed;
    width: 100vw;
    background-color: rgba(255, 255, 255, 1);
    color: #c01d74;
    margin-top: 0;
    z-index: 4;
    transition : 0.3s;
}

header ul {
    display: flex;
    width: 50vw;
    justify-content: space-between;
    color: #c01d74;
}

header p {
    font-size: 2vw;
    font-weight: bold;
    font-family: 'Cherrybomb';
    width: 27vw;
}

header a {
    font-size: 1.5vw;
    font-weight: bold;
    color: #c01d74;
    width: 55vw;
    transition : 0.3s;
}

#menu-btn-check {
    display: none;
}

/***********共通デザイン*************/

h1 {
    font-size: 50px;
    color: #c01d74;
    letter-spacing: 0.01em;
    font-family: 'Cherrybomb';
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    font-size: 50px;
    color: #c01d74;
    letter-spacing: 0.01em;
    display: inline-block;
    font-family: 'Cherrybomb';
    text-align: center;
}

h3 {
    color: #c01d74;
    font-size: 26px;
}

/***********最初の画像*************/

.firstview {
    padding: 0;
    font-family: 'Cherrybomb';
    position: fixed;
}


.firstView img {
    width: 100%;
    font-family: 'Cherrybomb';
}

/*********** We make people happy ! *************/

.intro {
    padding: 40px 180px;
}

.intro p {
    font-size: 18px;
    text-align: center;
    color: #192e77;
    line-height: 30px;
}

.motto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.motto img {
    width: 30%;
    margin: 25px
}

.motto p {
    text-align: left;
    margin-left: 20px;
}


.clearfix {
    clear: both;
}

/*********** ボタンづくり *************/

.button {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #fff;
    width: 180px;
    line-height: 70px;
    display: inline-block;
    border-radius: 16px;
    background-color: #c01d74;
    margin-top: 15px;
    transition : 0.3s;
}

header a:hover {
    color:#192e77 ;
    transition : 0.5s;
  }

.order a:hover {
    background-color:#192e77 ;
  }

.flavor a:hover {
    background-color:#192e77 ;
  }

  .infomation a:hover {
    background-color:#192e77 ;
  }


/*********** How to order *************/

.order {
    text-align: center;
    background-color: #fbe4ee;
    background-size: cover;
    padding: 40px 180px;
}

.order p {
    font-size: 18px;
    margin-top: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #192e77;
    width: 65vw;
}

.order-content img {
    width: 120px;
}

.order-contents {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 65vw;
    margin: 0 auto;
}

.orderbox{
    display: flex;
    align-items: center;
    flex-flow: column;
}

/*********** Flavor *************/

.flavor {
    padding: 40px 0;
    text-align: center;
    background-color: #fff;
}

.flavor p {
    font-size: 18px;
    margin-top: 24px;
    text-align: center;
    color: #192e77;
    width: 65vw;
}



.flavor img {
    width: 11vw;
    margin: 40px;
}

.flavor-box{
    display: flex;
        flex-wrap: wrap;
        flex-flow: column;
        align-items: center;
}


/*********** Little information *************/

.infomation {
    padding: 40px 180px;
    text-align: center;
    background-color: #fbe4ee;
}


.infomation p {
    font-size: 18px;
    margin-top: 24px;
    text-align: center;
    color: #192e77;
}

.infomation a {
    margin-top: 20px;
}

/*********** フッター *************/

footer {
    height: 60px;
    background-color: #e5a7c9;
    line-height: 60px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    color: #c01d74;
}

/*******************ここまですべてに共通のスタイル***********************/

/*******************ここからすべてにスマホ用のスタイル***********************/
@media all and (max-width:480px) {

    * {
        margin: 0;
        padding: 0;
        font-family: 'Kosugi Maru', sans-serif;
        font-weight: bold;
    }

    p{
        line-height: 20px;
    }

    /***********ヘッダー*************/

    header {
        height: 5vh;
        line-height: 5vh;
        padding: 0 5vw;
        position: fixed;
        width: 100vw;
        z-index: 4;
    }

    header a {
        font-size: 2.5vw;
        font-weight: bold;
        color: #c01d74;
        width: 40vw;
    }

    header p{
        line-height: 5vh;
        font-size: 3vw;
    }

    .menu-btn {
        position: fixed;
        top: 0px;
        right: 0px;
        display: flex;
        height: 5vh;
        width: 5vh;
        justify-content: center;
        align-items: center;
        z-index: 90;
        background-color: #fff;
    }
    .menu-btn span,
    .menu-btn span:before,
    .menu-btn span:after {
        content: '';
        display: block;
        height: 1.5px;
        width: 12.5px;
        border-radius: 1.5px;
        background-color: #c01d74;
        position: absolute;
    }
    .menu-btn span:before {
        bottom: 4px;
    }
    .menu-btn span:after {
        top: 4px;
    }
    
    #menu-btn-check:checked ~ .menu-btn span {
        background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
    }
    #menu-btn-check:checked ~ .menu-btn span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    #menu-btn-check:checked ~ .menu-btn span::after {
        top: 0;
        transform: rotate(-45deg);
    }
    
    #menu-btn-check {
        display: none;
    }
    
    .menu-content {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 80;
        background-color: #fff;
        padding-left: 5px;
    }
    .menu-content ul {
        padding: 70px 10px 0;
        flex-direction: column;
        width: 100%;
        padding-left: 5px;
    }
    .menu-content ul li {
        border-bottom: solid 1px #c01d74;
        list-style: none;
    }
    .menu-content ul li a {
        display: block;
        width: 100%;
        font-size: 15px;
        box-sizing: border-box;
        color:#c01d74;
        text-decoration: none;
        padding: 9px 15px 10px 0;
        position: relative;
    }
    .menu-content ul li a::before {
        content: "";
        width: 7px;
        height: 7px;
        border-top: solid 2px #ffffff;
        border-right: solid 2px #ffffff;
        transform: rotate(45deg);
        position: absolute;
        right: 11px;
        top: 16px;
    }
    
    .menu-content {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;/*leftの値を変更してメニューを画面外へ*/
        z-index: 80;
        background-color: #fff;
        background-image: url(imgs/BR-background3.png);
        transition: all 0.5s;/*アニメーション設定*/
    }
    
    #menu-btn-check:checked ~ .menu-content {
        left: 0;/*メニューを画面内へ*/
    }
    
    
    

    /***********最初の画像*************/


    .firstView img {
        width: 100%;
        height: 170px;
        font-family: 'Cherrybomb';
    }


    /***********共通デザイン*************/

    h1 {
        font-size: 19px;
        color: #c01d74;
        letter-spacing: 0.01em;
        font-family: 'Cherrybomb';
        text-align: center;
        margin-bottom: 30px;
        width: 85vw;
    }

    h2 {
        font-size: 20px;
        color: #c01d74;
        letter-spacing: 0.01em;
        display: inline-block;
        font-family: 'Cherrybomb';
        text-align: center;
        width: 80vw;
    }

    h3 {
        color: #c01d74;
        font-size: 10px;
        width: 80vw;
    }

    /*********** We make people happy ! *************/



    .intro p {
        font-size: 11px;
        width: 80vw;
    }

    .introbox{
        display: flex;
        flex-wrap: wrap;
        flex-flow: column;
        align-items: center;
    }

    .motto {
        display: flex;
        flex-wrap: wrap;
        flex-flow: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .motto img {
        width: 45vw;
        margin: 25px
    }

    .motto p {
        text-align: center;
        width: 80vw;
    }


    .clearfix {
        clear: both;
    }


    /*********** How to order *************/

.order {
    padding: 40px 0;
    text-align: center;
    background-color: #fbe4ee;
    background-size: cover;
}

.order p {
    font-size: 11px;
    margin-top: 24px;
    margin-bottom: 10px;
    text-align: center;
    color: #192e77;
    width: 75vw;
}

.order-content img {
    width: 10vw;
}

.order-contents {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75vw;
    margin: 0 auto;
}

/*********** ボタンづくり *************/

.button {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #fff;
    width: 30vw;
    line-height: 3.5vh;
    display: inline-block;
    border-radius: 10px;
    background-color: #c01d74;
    margin-top: 10px;
}

/*********** Flavor *************/

.flavor {
    padding: 40px 0;
    text-align: center;
    background-color: #fff;
}


.flavor p {
    font-size: 11px;
    margin: 20px;
    text-align: center;
    color: #192e77;
    width: 75vw;
}


.flavor img {
    width: 15vw;
    margin: 1vw;
}


/*********** Little information *************/

.infomation {
    padding: 40px 180px;
    text-align: center;
    background-color: #fbe4ee;
}

.information-box{
    display: flex;
        flex-wrap: wrap;
        flex-flow: column;
        align-items: center;
}

.infomation p {
    font-size: 11px;
    margin-top: 24px;
    text-align: center;
    color: #192e77;
    width: 75vw;
}

.infomation a {
    margin-top: 20px;
}

/*********** フッター *************/

footer {
    height: 4vh;
    background-color: #e5a7c9;
    line-height: 4vh;
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    color: #c01d74;
}

}