@font-face {
    font-family: 'Cherrybomb';
    src: url(/fonts/Cherrybomb.ttf);
}

* {
    font-family: 'UD デジタル 教科書体 NK-B';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

/*********************************  　　　　　　ヘッダー　　　　　　 **************************************/

header {
    height: 10vh;
    line-height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 0 10vw;
    position: fixed;
    width: 100vw;
    background-color: rgba(255, 255, 255, 1);
    color: #c01d74;
    margin-top: 0;
    z-index: 4;
}

header ul {
    display: flex;
    width: 50vw;
    justify-content: space-between;
    color: #c01d74;
}

header p {
    font-size: 2vw;
    font-weight: bold;
    font-family: 'Cherrybomb';
    width: 27vw;
}

header a {
    font-size: 1.5vw;
    font-weight: bold;
    color: #c01d74;
    width: 55vw;
}

/*********************************  　　　　　　How to order　　　　　　 **************************************/

.title {
    padding-top: 70px;
    background-color: #c01d74;
    color: #fff;

}

.title h1 {
    font-size: 60px;
    text-align: center;
    padding-top: 30px;
    font-family: 'Cherrybomb';
}

.title h2 {
    font-size: 30px;
    text-align: center;
    padding-bottom: 30px;
}

/*********************************  　　　　　　最初の一文　　　　　　 **************************************/

.intro p {
    color: #192e77;
    text-align: center;
    font-size: 20px;
    margin: 40px;
}

/*********************************  　　　　　　　旗の装飾　　　　　　　 **************************************/

.flag {
    display: inline-block;
    position: relative;
    height: 60px;
    /*高さ*/
    line-height: 60px;
    /*高さ*/
    text-align: center;
    padding: 0 40px 0 18px;
    /*文字の左右の余白*/
    font-size: 24px;
    /*文字サイズ*/
    background: #192e77;
    /*背景色*/
    color: #fff;
    /*文字色*/
    box-sizing: border-box;
    margin-left: 17vw;
}

.flag:after {
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    z-index: 1;
}

.flag:after {
    top: 0;
    right: 0;
    border-width: 30px 15px 30px 0px;
    border-color: transparent #fff transparent transparent;
    border-style: solid;
}

/*********************************  　　　　　　　囲み枠の装飾　　　　　　　 **************************************/

.midasi {
    position: relative;
    text-align: center;
    border: 2px solid #c01d74;
    background: #fff;
  }
  
  .midasi:before,
  .midasi:after {
    position: absolute;
    content: '';
  }
  
  .midasi:before {
    top: -40px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border: 2px solid #c01d74;
    border-radius: 50%;
    background: #fff;
  }
  
  .midasi:after {
    top: 4px;
    left: 4px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    border: 2px dashed #c01d74;
    background: #fff;
  }
  
  .midasi i {
    font-size: 18px;
    font-size: 2.0rem;
    line-height: 60px;
    position: absolute;
    z-index: 2;
    top: -40px;
    left: calc(50% - 40px);
    width: 80px;
    height: 60px;
    text-align: center;
  }
  
  .midasi span {
    position: relative;
    z-index: 1;
    display: block;
    padding: 1.5rem;
  }
  
  .midasi span:before,
  .midasi span:after {
    position: absolute;
    content: '';
  }
  
  .midasi span:before {
    top: -34px;
    left: calc(50% - 34px);
    width: 68px;
    height: 40px;
    border: 2px dashed #c01d74;
    border-radius: 50vw 50vw 0 0;
  }
  
  .midasi span:after {
    position: absolute;
    top: 4px;
    left: calc(50% - 32px);
    width: 64px;
    height: 10px;
    background: #fff;
  }


/*********************** 　　　　　共通　文字の大きさ　　　　　　 **************************/

h4 {
    text-align: center;
    color: #192e77;
    font-size: 27px;
    font-family: 'Cherrybomb';
    margin-bottom: 15px;
}

h5 {
    color: #c01d74;
    font-size: 24px;
    margin-bottom: 10px;
}

h6 {
    text-align: center;
    color: #4f4f4f;
    font-size: 18px;
}

/*********************** 　　　　　共通　画像の配置　　　　　　 **************************/

.image {
    width: 120px;
    margin: 10px auto;
}

.text-img img{
    margin: 0 auto;
}

.text-img {
    display: flex;
    flex-direction: column;
}

.texts-imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    width: 65vw;
    margin: 0 auto;
    margin-top: 70px;
}

.yajirusi{
    width: 60px;
    margin: 25px;
}

.yajirusi-text{
    color: #4f4f4f;
}

.yajirusi-text{
    display: flex;
    align-items: center;
    flex-flow: column;
}

.yajirusi-text p{
    padding: 1rem 2rem;
   border: 3px dashed #c01d74;
   border-radius: 20px;
}
/*********************************  　　　　　　アイスクリーム編　　　　　　 **************************************/

.ice{
    margin-bottom: 120px;
}
.ice h3 {
    color: #c01d74;
    text-align: center;
    font-size: 30px;
    margin: 10px;
    margin-bottom: 25px;
}

/*********************** 　　　　　　個数をChoice!　　　　　　 **************************/

.number {
    margin-top: 40px;
    margin-bottom: 100px;
}

.number .text-img{
    width: 140px;
}

.single{
    margin-bottom: 18px;
}

/*********************** 　　　　　　大きさをChoice!　　　　　　 **************************/

.size {
    margin-bottom: 100px;
}

.size .text-img{
    width: 140px;
}

.pop{
    margin-bottom: 25px;
}

.small{
    margin-bottom: 30px;
}

.small-img{
    width: 100px;
}

.pop-img{
    width: 150px;
}

/*********************** 　　　　　　入れ物をChoice!　　　　　　 **************************/

.box {
    margin-bottom: 100px;
}

.box .text-img{
    width: 140px;
}

.cup{
    margin-bottom: 65px;
}

.cone{
    margin-bottom: 45px;
}

.waffle-img{
    width: 140px;
}

/*********************** 　　　　　　フレーバーをChoice!　　　　　　 **************************/

.flavor-button {
    display: flex;
    justify-content: center;
}

.flavor p {
    color: #192e77;
    text-align: center;
    font-size: 18px;
    margin-bottom: 40px;
    margin-top: 50px;
}

.flavor a {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #fff;
    padding: 0 20 0px;
    line-height: 60px;
    display: inline-block;
    border-radius: 16px;
    width: 300px;
    text-align: center;
}

.flavor .button {
    background-color: #c01d74;
}

/*********************************  　　　　　　ドリンク編　　　　　　 **************************************/

.drink{
    margin-bottom: 120px;
}

.drink h3 {
    color: #c01d74;
    text-align: center;
    margin: 50px;
    font-size: 30px;
    letter-spacing: 2px;
}

.drink .drink-text {
    text-align: center;
    color: #4f4f4f;
    margin: 40px auto;
}

.cafe{
    display: flex;
    flex-flow: column;
}

.cafes{
    display: flex;
    justify-content: space-between;
    width: 20vw;
}

.cafes img{
    margin: 0;
}


/*********************************  　　　　　　ハンドパック編　　　　　　 **************************************/

.handpack{
    margin-bottom: 100px;
}

.handpack h3 {
    text-align: center;
    color: #c01d74;
    font-size: 30px;
    margin: 20px;
}

.handpack .handpack-text{
    text-align: center;
    color: #4f4f4f;
    margin-bottom: 20px;
}

.handpack .text-img{
    width: 215.3px;
    height: 358.36px;
}

.painto{
    margin-bottom: 38px;
}

.painto-img{
    width: 100px;
}

.painto-box .yajirusi{
    margin-top: 17px;
}

.quoto{
    margin-bottom: 28px;
}

.big{
    margin-bottom: 30px;
}

.big-img{
    width: 180px;
}

.kuttuku{
    font-size: 20px;
    color:#c01d74;
    text-align: center;
    margin-top: 70px;
}

/*********************************  　　　　　　フッター　　　　　　　 **************************************/

footer {
    height: 60px;
    background-color: #e5a7c9;
    line-height: 60px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    color: #c01d74;
}

/*******************ここまですべてに共通のスタイル***********************/

/*******************ここからすべてにスマホ用のスタイル***********************/
@media all and (max-width:480px){
    * {
        font-family: 'UD デジタル 教科書体 NK-B';
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    a {
        text-decoration: none;
        color: #000;
    }
    
    /*********************************  　　　　　　ヘッダー　　　　　　 **************************************/
    
    header {
        height: 5vh;
        line-height: 5vh;
        padding: 0 5vw;
        position: fixed;
        width: 100vw;
        z-index: 4;
    }

    header a {
        font-size: 1vw;
        font-weight: bold;
        color: #c01d74;
        width: 45vw;
    }
    
    /*********************************  　　　　　　How to order　　　　　　 **************************************/
    
    .title {
        background-color: #c01d74;
        color: #fff;
        height: 15vh;
    
    }
    
    .title h1 {
        font-size: 20px;
        text-align: center;
        font-family: 'Cherrybomb';
        padding: 0;
    }
    
    .title h2 {
        font-size: 16px;
        text-align: center;
        padding: 0;
    }
    
    /*********************************  　　　　　　最初の一文　　　　　　 **************************************/
    
    .intro p {
        color: #192e77;
        text-align: center;
        font-size: 14px;
        margin: 40px;
        width: 75vw;
    }
    
    /*********************************  　　　　　　　旗の装飾　　　　　　　 **************************************/
    
    .flag {
        display: inline-block;
        position: relative;
        height: 5vh;
        /*高さ*/
        line-height: 5vh;
        /*高さ*/
        text-align: center;
        padding: 0 30px 0 20px;
        /*文字の左右の余白*/
        font-size: 18px;
        /*文字サイズ*/
        background: #192e77;
        /*背景色*/
        color: #fff;
        /*文字色*/
        box-sizing: border-box;
        margin-left: 0;
        margin-bottom: 30px;
    }
    
    .flag:after {
        position: absolute;
        content: '';
        width: 0px;
        height: 0px;
        z-index: 1;
    }
    
    .flag:after {
        top: 0;
        right: 0;
        border-width: 2.5vh 15px 2.5vh 0px;
        border-color: transparent #fff transparent transparent;
        border-style: solid;
    }
    
    /*********************************  　　　　　　　囲み枠の装飾　　　　　　　 **************************************/
    
    .midasi {
        position: relative;
        text-align: center;
        border: 2px solid #c01d74;
        background: #fff;
      }
      
      .midasi:before,
      .midasi:after {
        position: absolute;
        content: '';
      }
      
      .midasi:before {
        top: -40px;
        left: calc(50% - 40px);
        width: 80px;
        height: 80px;
        border: 2px solid #c01d74;
        border-radius: 50%;
        background: #fff;
      }
      
      .midasi:after {
        top: 4px;
        left: 4px;
        width: calc(100% - 8px);
        height: calc(100% - 8px);
        border: 2px dashed #c01d74;
        background: #fff;
      }
      
      .midasi i {
        font-size: 26px;
        line-height: 60px;
        position: absolute;
        z-index: 2;
        top: -40px;
        left: calc(50% - 40px);
        width: 80px;
        height: 60px;
        text-align: center;
      }
      
      .midasi span {
        position: relative;
        z-index: 1;
        display: block;
        padding: 1rem;
      }
      
      .midasi span:before,
      .midasi span:after {
        position: absolute;
        content: '';
      }
      
      .midasi span:before {
        top: -34px;
        left: calc(50% - 34px);
        width: 68px;
        height: 40px;
        border: 2px dashed #c01d74;
        border-radius: 50vw 50vw 0 0;
      }
      
      .midasi span:after {
        position: absolute;
        top: 4px;
        left: calc(50% - 32px);
        width: 64px;
        height: 10px;
        background: #fff;
      }
    
    
    /*********************** 　　　　　共通　文字の大きさ　　　　　　 **************************/
    
    h4 {
        text-align: center;
        color: #192e77;
        font-size: 15px;
        font-family: 'Cherrybomb';
        margin-bottom: 15px;
    }
    
    h5 {
        color: #c01d74;
        font-size: 14px;
        margin-bottom: 10px;
    }
    
    h6 {
        text-align: center;
        color: #4f4f4f;
        font-size: 14px;
    }
    
    /*********************** 　　　　　共通　画像の配置　　　　　　 **************************/
    
    .image {
        width: 60px;
    }
    
    .text-img img{
        margin: 0 auto;
    }
    
    .text-img {
        display: flex;
        flex-direction: column;
    }
    
    .texts-imgs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
        width: 80vw;
        margin: 0 auto;
        margin-top: 40px;
    }
    
    .yajirusi{
        width: 40px;
        margin: 25px;
    }
    
    .yajirusi-text{
        color: #4f4f4f;
    }
    
    .yajirusi-text{
        display: flex;
        align-items: center;
        flex-flow: column;
    }
    
    .yajirusi-text p{
        padding: 0.5rem 0.5rem;
       border: 3px dashed #c01d74;
       border-radius: 15px;
       font-size: 10px;
    }
    /*********************************  　　　　　　アイスクリーム編　　　　　　 **************************************/
    
    .ice{
        margin-bottom: 120px;
    }
    .ice h3 {
        color: #c01d74;
        text-align: center;
        font-size: 20px;
        margin: 10px;
        margin-bottom: 25px;
    }
    
    /*********************** 　　　　　　個数をChoice!　　　　　　 **************************/
    
    .number {
        margin-top: 40px;
        margin-bottom: 100px;
    }
    
    .number .text-img{
     width: 70px;
    }

    .number img{
        margin-top: 10px;
    }
    
    .single{
        margin-bottom: 18px;
    }
    
    /*********************** 　　　　　　大きさをChoice!　　　　　　 **************************/
    
    .size {
        margin-bottom: 100px;
    }
    
    .size .text-img{
        width: 70px;
    }

    .size img{
        margin-top: 10px;
    }
    
    .pop{
        margin-bottom: 20px;
    }
    
    .small{
        margin-bottom: 20px;
    }
    
    .small-img{
        width: 50px;
    }
    
    .pop-img{
        width: 75px;
    }
    
    /*********************** 　　　　　　入れ物をChoice!　　　　　　 **************************/
    
    .box {
        margin-bottom: 100px;
    }
    
    .box .text-img{
        width: 70px;
    }
    
    .cup{
        margin-bottom: 55px;
    }
    
    .cone{
        margin-bottom: 45px;
    }
    
    .waffle-img{
        width: 70px;
    }
    
    /*********************** 　　　　　　フレーバーをChoice!　　　　　　 **************************/
    

    .flavor-minibox{
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .flavor-button {
        display: flex;
        justify-content: center;
    }
    
    .flavor p {
        color: #192e77;
        text-align: center;
        font-size: 14px;
        margin-bottom: 20px;
        margin-top: 30px;
        width: 75vw;
    }
    
    .flavor a {
        font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #fff;
    width: 58vw;
    line-height: 3.5vh;
    display: inline-block;
    border-radius: 10px;
    background-color: #c01d74;
    }
    
    .flavor .button {
        background-color: #c01d74;
    }
    
    /*********************************  　　　　　　ドリンク編　　　　　　 **************************************/
    
    .drink{
        margin-bottom: 120px;
    }
    
    .drink h3 {
        color: #c01d74;
        text-align: center;
        margin: 50px;
        font-size: 20px;
        letter-spacing: 2px;
    }
    
    .drink .drink-text {
        text-align: center;
        color: #4f4f4f;
        margin: 40px auto;
        font-size: 14px;
    }

    .drink img{
        width: 50px;
    }
    
    .cafe{
        display: flex;
        flex-flow: column;
    }
    
    .cafes{
        display: flex;
        justify-content: space-between;
        width: 20vw;
    }
    
    .cafes img{
        margin: 0;
    }
    
    
    /*********************************  　　　　　　ハンドパック編　　　　　　 **************************************/
    
    .handpack{
        margin-bottom: 100px;
    }
    
    .handpack h3 {
        text-align: center;
        color: #c01d74;
        font-size: 30px;
        margin: 20px;
    }
    
    .handpack .handpack-text{
        text-align: center;
        color: #4f4f4f;
        margin-bottom: 20px;
    }
    
    .handpack .text-img{
        width: 215.3px;
        height: 358.36px;
    }
    
    .painto{
        margin-bottom: 38px;
    }
    
    .painto-img{
        width: 100px;
    }
    
    .painto-box .yajirusi{
        margin-top: 17px;
    }
    
    .quoto{
        margin-bottom: 28px;
    }
    
    .big{
        margin-bottom: 30px;
    }
    
    .big-img{
        width: 180px;
    }
    
    .kuttuku{
        font-size: 20px;
        color:#c01d74;
        text-align: center;
        margin-top: 70px;
    }
    
    /*********************************  　　　　　　フッター　　　　　　　 **************************************/
    
    footer {
        height: 60px;
        background-color: #e5a7c9;
        line-height: 60px;
        text-align: center;
        font-size: 18px;
        letter-spacing: 2px;
        color: #c01d74;
    }
    
}