@font-face {
    font-family: 'Cherrybomb';
    src: url(/fonts/Cherrybomb.ttf);
}

* {
    font-family: 'UD デジタル 教科書体 NK-B';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

/*********************************  　　　　　　ヘッダー　　　　　　 **************************************/

header {
    height: 70px;
    line-height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0 180px;
    position: fixed;
    width: 100vw;
    background-color: rgba(255, 255, 255, 1);
    color: #c01d74;
    margin-top: 0;
    z-index: 2;
}

header ul {
    display: flex;
    width: 600px;
    justify-content: space-between;
    color: #c01d74;
}

header p {
    font-size: 33px;
    font-weight: bold;
}

header a {
    font-size: 24px;
    font-weight: bold;
    color: #c01d74;
}

/*********************************  　　　　　　How to order　　　　　　 **************************************/

.title {
    padding-top: 70px;
    background-color: #c01d74;
    color: #fff;

}

.title h1 {
    font-size: 60px;
    text-align: center;
    padding-top: 30px;
    font-family: 'Cherrybomb';
}

.title h2 {
    font-size: 30px;
    text-align: center;
    padding-bottom: 30px;
}

/*********************************  　　　　　　最初の一文　　　　　　 **************************************/

.intro p {
    color: #192e77;
    text-align: center;
    font-size: 20px;
    margin: 40px;
}

/*********************************  　　　　　　　旗の装飾　　　　　　　 **************************************/

.flag {
    display: inline-block;
    position: relative;
    height: 60px;
    /*高さ*/
    line-height: 60px;
    /*高さ*/
    text-align: center;
    padding: 0 40px 0 18px;
    /*文字の左右の余白*/
    font-size: 24px;
    /*文字サイズ*/
    background: #192e77;
    /*背景色*/
    color: #fff;
    /*文字色*/
    box-sizing: border-box;
    margin-left: 17vw;
}

.flag:after {
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    z-index: 1;
}

.flag:after {
    top: 0;
    right: 0;
    border-width: 30px 15px 30px 0px;
    border-color: transparent #fff transparent transparent;
    border-style: solid;
}

/*********************** 　　　　　共通　文字の大きさ　　　　　　 **************************/

h4 {
    text-align: center;
    color: #192e77;
    font-size: 27px;
    font-family: 'Cherrybomb';
    margin-bottom: 15px;
}

h5 {
    color: #c01d74;
    font-size: 24px;
    margin-bottom: 10px;
}

h6 {
    text-align: center;
    color: #4f4f4f;
    font-size: 18px;
}

/*********************** 　　　　　共通　画像の配置　　　　　　 **************************/

.image {
    width: 120px;
    margin: 10px auto;
}

.text-img img{
    margin: 0 auto;
}

.text-img {
    display: flex;
    flex-direction: column;
}

.texts-imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    width: 65vw;
    margin: 0 auto;
}




/*********************************  　　　　　　アイスクリーム編　　　　　　 **************************************/

.ice{
    margin-bottom: 120px;
}
.ice h3 {
    color: #c01d74;
    text-align: center;
    font-size: 30px;
    margin: 10px;
    margin-bottom: 25px;
}

/*********************** 　　　　　　個数をChoice!　　　　　　 **************************/

.number {
    margin-top: 40px;
    margin-bottom: 100px;
}

.number .text-img{
    width: 140px;
}

.single{
    margin-bottom: 18px;
}

/*********************** 　　　　　　大きさをChoice!　　　　　　 **************************/

.size {
    margin-bottom: 100px;
}

.size .text-img{
    width: 140px;
}

.pop{
    margin-bottom: 25px;
}

.small{
    margin-bottom: 30px;
}

.small-img{
    width: 100px;
}

.pop-img{
    width: 150px;
}

/*********************** 　　　　　　入れ物をChoice!　　　　　　 **************************/

.box {
    margin-bottom: 100px;
}

.box .text-img{
    width: 140px;
}

.cup{
    margin-bottom: 65px;
}

.cone{
    margin-bottom: 45px;
}

.waffle-img{
    width: 140px;
}

/*********************** 　　　　　　フレーバーをChoice!　　　　　　 **************************/

.flavor-button {
    display: flex;
    justify-content: center;
}

.flavor p {
    color: #192e77;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.flavor a {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #fff;
    padding: 0 20 0px;
    line-height: 60px;
    display: inline-block;
    border-radius: 16px;
    width: 300px;
    text-align: center;
}

.flavor .button {
    background-color: #c01d74;
}

/*********************************  　　　　　　ドリンク編　　　　　　 **************************************/

.drink{
    margin-bottom: 120px;
}

.drink h3 {
    color: #c01d74;
    text-align: center;
    margin: 50px;
    font-size: 30px;
    letter-spacing: 2px;
}

.drink .drink-text {
    text-align: center;
    color: #4f4f4f;
    margin: 40px auto;
}

.cafe{
    display: flex;
    flex-flow: column;
}

.cafes{
    display: flex;
    justify-content: space-between;
    width: 20vw;
}

.cafes img{
    margin: 0;
}


/*********************************  　　　　　　ハンドパック編　　　　　　 **************************************/

.handpack{
    margin-bottom: 100px;
}

.handpack h3 {
    text-align: center;
    color: #c01d74;
    font-size: 30px;
    margin: 20px;
}

.handpack .handpack-text{
    text-align: center;
    color: #4f4f4f;
    margin-bottom: 20px;
}

.painto{
    margin-bottom: 38px;
}

.painto-img{
    width: 100px;
}

.quoto{
    margin-bottom: 28px;
}

.big{
    margin-bottom: 30px;
}

.big-img{
    width: 180px;
}

/*********************************  　　　　　　フッター　　　　　　　 **************************************/

footer {
    height: 60px;
    background-color: #e5a7c9;
    line-height: 60px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    color: #c01d74;
}